﻿<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}TItulo del documento{% endblock %}</title>
</head>
<body>
    {% block header %}
    <h4>Este es el bloque del header base</h4>
    {% endblock %}

    {% block content %}
    <h5>Este es el contenido del archivo basebase</h5>
    {% endblock %}

    {% block footer %}
    <h5>hasta abjo mai</h5>
    {% endblock %}

</body>
</html>