﻿{% load staticfiles %}
<!DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cliente Web</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">      
    <!--<link rel="stylesheet" type="text/css" href="estilo.css"/>-->
    <script type="text/javascript" src="{% static 'Inicio/static/css/jquery.min.js'%}"></script>
    <!--<script type="text/javascript" src="js/cambiarPestanna.js"></script>-->


    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'Inicio/static/css/bootstrap.css'%}" media="screen">
    
    <!--<link rel="stylesheet" href="{% static 'Inicio/static/css/custom.min.css'%}"> -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

      <style type="text/css">
  body {
    background: darkgrey;    
}

.contenedor{
    width: 1080px;
    margin: auto;
    background: black;
    color: bisque;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: darkgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: bisque;
}

#contenidopestanas{
    clear: both;  
    background: dimgray;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid bisque;
    width: 1025px;
}
  </style>

    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" style="
    margin-bottom: 20px;
    height: 62px;
">
      <div class="container" style="
    height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">COMPILADORES 2</a>
          
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Archivo <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="">Nuevo</a></li>
                <li class="divider"></li>
                <li><a href="">Abrir</a></li>
                <li><a href="">Cerrar</a></li>             
              </ul>
            </li>
            <li>
              <a href="">Analizar</a>
            </li>
            <li>
              <a href="">Reporte</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Otro <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="">Open Sandbox</a></li>
                <li class="divider"></li>
                <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
                <li><a href="./bootstrap.css">bootstrap.css</a></li>
                <li class="divider"></li>
                <li><a href="./variables.less">variables.less</a></li>
                <li><a href="./bootswatch.less">bootswatch.less</a></li>
                <li class="divider"></li>
                <li><a href="./_variables.scss">_variables.scss</a></li>
                <li><a href="./_bootswatch.scss">_bootswatch.scss</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a>Hola {{ form.nombre  }}</a></li>                        
          </ul>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="page-header" id="banner">          
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>MENU</h1>
            <p class="lead">Msj: {{ form.msj  }}</p>
          </div>
          <!--
            <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
              <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bootswatchcom" id="_carbonads_js"></script>
            </div>
          </div>
            -->
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <a class="list-group-item" href="#navbar">Editor</a>              
            </div>
          </div>
        </div>
      </div>

      <!-- Navbar
      ================================================== -->
      <form method="post" action="{% url 'enviarServer' %}">
        <div class="bs-docs-section clearfix">
            <div class="row">
        
              <div class="col-lg-12">
                <div class="page-header">
                  <h1 id="navbar">Editor</h1>
                </div>            

                <div class="bs-component">
                  <textarea style="margin: 0px; width: 1088px; height: 161px;" id="TextoEditor" name="TextoEditor"></textarea>
                    <input type="text" style="display:none" name="usuario" id="usuario" value="{{ form.nombre  }}" >
                
                    {% csrf_token %}
                <button type="submit" class="btn btn-success" style="text-align: center;margin-left: 0px;margin-right: 50px;">Enviar Instruccion</button>
                </div><!-- /example -->                
                  
              </div>                            
            </div>            
          </div>
        </form>

        <form action="cambiarPestanna(pestanas,pestana1)">
            <script type="text/javascript" src="{% static 'Inicio/static/css/jquery-1.10.2.min.js'%}"></script>
        
    
        <div class="contenedor">
            <div class="titulo">RESULTADOS</div>
            <div id="pestanas">
                <ul id=lista style="position:center">
                    <li id="pestana1"><a onclick="cambiarPestanna(pestanas,pestana1)">Mensajes</a></li>
                    <li id="pestana2"><a onclick="cambiarPestanna(pestanas,pestana2)">Tablas</a></li>
                    <!--<li id="pestana3"><a onclick="cambiarPestanna(pestanas,pestana3)">JavaScript</a></li>
                    <li id="pestana4"><a onclick="cambiarPestanna(pestanas,pestana4)">PHP</a></li>
                    <li id="pestana5"><a onclick="cambiarPestanna(pestanas,pestana5)">Java EE</a></li>
                    <li id="pestana6"><a onclick="cambiarPestanna(pestanas,pestana6)">Android</a></li>-->
                    <li id="pestana7"><a onclick="cambiarPestanna(pestanas,pestana7)">Contenido HTML</a></li>
                </ul>
            </div>
            
            
       
            <div id="contenidopestanas">
                <div id="cpestana1">
                    <pre>{{form.msj}}</pre>
                </div>
                <div id="cpestana2">
                   {% autoescape off %}{{form.msjHtml}} {% endautoescape %}
                </div>
                <div id="cpestana3">
                    contenido 3
                </div>
                <div id="cpestana4">
                    contenido 4
                </div>
                <div id="cpestana5">
                    contenido 5
                </div>
                <div id="cpestana6">
                    contenido 6
                </div>
                <div id="cpestana7">
                   <!--
                       <iframe src="{{form.msjHtml}}"></iframe>
                   <object width="1000" height="400" data="archivo.html" type="text/html"></object> 
                       -->
                </div>
            </div>
        </div>
        </form>
  

      <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              
            </ul>
            <p>© 2012–2013 Compiladores 2 - 2do. Semestre 2017<a href="" rel="nofollow"> Hoy si gano</a>. 
            

          </div>
        </div>

      </footer>
        <form onsubmit="$('#hero-demo').blur();return false;"  style="border-top: 1px solid #eee;border-bottom:1px solid #eee;background:#fafafa;margin:30px 0;padding:20px 10px;text-align:center">
        <input id="script" autofocus type="text" name="script" style="width:100%;max-width:600px;outline:0">
    </form>

    </div>

      <script>

function cambiarPestanna(pestannas,pestanna) {
    
    // Obtiene los elementos con los identificadores pasados.
    pestanna = document.getElementById(pestanna.id);
    listaPestannas = document.getElementById(pestannas.id);
    
    // Obtiene las divisiones que tienen el contenido de las pestañas.
    cpestanna = document.getElementById('c'+pestanna.id);
    listacPestannas = document.getElementById('contenido'+pestannas.id);
    
    i=0;
    // Recorre la lista ocultando todas las pestañas y restaurando el fondo 
    // y el padding de las pestañas.
    while (typeof listacPestannas.getElementsByTagName('div')[i] != 'undefined'){
        $(document).ready(function(){
            $(listacPestannas.getElementsByTagName('div')[i]).css('display','none');
            $(listaPestannas.getElementsByTagName('li')[i]).css('background','');
            $(listaPestannas.getElementsByTagName('li')[i]).css('padding-bottom','');
        });
        i += 1;
    }

    $(document).ready(function(){
        // Muestra el contenido de la pestaña pasada como parametro a la funcion,
        // cambia el color de la pestaña y aumenta el padding para que tape el  
        // borde superior del contenido que esta juesto debajo y se vea de este 
        // modo que esta seleccionada.
        $(cpestanna).css('display','');
        $(pestanna).css('background','dimgray');
        $(pestanna).css('padding-bottom','2px'); 
    });

}

    </script>
    
    <link rel="stylesheet" href="{% static 'Inicio/static/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'Inicio/static/css/bootstrap.css' %}"/>
	<link rel="stylesheet" href="{% static 'Inicio/static/css/bootstrap.min.css' %}"/>
        <!---->
    <script src="{% static 'Inicio/static/css/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'Inicio/static/css/jquery.auto-complete.js' %}"></script>   
        
    <link rel="stylesheet" type="text/css" href="{% static 'Inicio/static/css/jquery.auto-complete.css' %}" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!---->
  </body>
</html>



