﻿{% load staticfiles %}
<!DOCTYPE html>

<html lang="en"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login</title>
  
    <link rel="stylesheet" href="{% static 'Inicio/static/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'Inicio/static/css/bootstrap.css' %}"/>
	<link rel="stylesheet" href="{% static 'Inicio/static/css/bootstrap.min.css' %}"/>
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>
  <section class="container">
    <div class="login">
      <h1>Login </h1>
      <form method="POST" action="{% url 'ValidarUsuario' %}">
          {% csrf_token %}

        <div class="container-fluid" >
				  
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
	    <!--form class="navbar-form navbar-left" role="search"-->
		    <div class="form-group">
                    
                {% if form.msj  %}
                    <p class="text-danger"><strong>Oh!</strong> {{ form.msj  }}</p>
                    <p/>
                {% endif %}
                    

		        <input type="text" class="form-control" placeholder="Usuario" style="width: 222px;" name="usuario_acceso" id="usuario_acceso">
                <p></p>
		        <input type="password" class="form-control" placeholder="Clave" style="width: 222px;" name="clave" id="clave">
		    </div>
		    
	    <!--/form-->					
	    </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
	    <!--form class="navbar-form navbar-left" role="search" -->
		    <div class="form-group">		        
		        <button  type="submit" class="btn btn-success" style="text-align: center;margin-left: 50px;margin-right: 50px;" >Entrar</button>
		    </div>
		    
	    <!--/form-->					
	    </div>
            
	</div>
      </form>
    </div>
      
    

  </section>
 
  <section class="about">
    <p class="about-links">
      <a href="#" target="_parent">Alan Bautista</a>
      <a href="#" target="_parent">201212487</a>
    </p>
    <p class="about-author">
      &copy; 2012&ndash;2013 <a >Compiladores 2</a> -
      <a  >2do. Semestre 2017</a><br>
      Original PSD by <a >Hoy si gano</a>
  </section>
</body>
</html>
