<table>
	<tr>
		<th>estudiante.@id</th>
		<th>estudiante.@Nombre</th>
		<th>estudiante.@fh_nac</th>
		<th>estudiante.@trabaja</th>
		<th>asignacion.id</th>
		<th>asignacion.cuso</th>
		<th>asignacion.estudiante</th>
	</tr>
	<tr>
		<td>1</td>
		<td>"Jose Luis Figueroa"</td>
		<td>10-10-1994</td>
		<td>verdadero</td>
		<td>1</td>
		<td>"Compi"</td>
		<td>2</td>
	</tr>
	<tr>
		<td>1</td>
		<td>"Jose Luis Figueroa"</td>
		<td>10-10-1994</td>
		<td>verdadero</td>
		<td>2</td>
		<td>"Compi"</td>
		<td>3</td>
	</tr>
	<tr>
		<td>1</td>
		<td>"Jose Luis Figueroa"</td>
		<td>10-10-1994</td>
		<td>verdadero</td>
		<td>3</td>
		<td>"Mate"</td>
		<td>1</td>
	</tr>
	<tr>
		<td>3</td>
		<td>"Alan"</td>
		<td>26-03-1991</td>
		<td>verdadero</td>
		<td>1</td>
		<td>"Compi"</td>
		<td>2</td>
	</tr>
	<tr>
		<td>3</td>
		<td>"Alan"</td>
		<td>26-03-1991</td>
		<td>verdadero</td>
		<td>2</td>
		<td>"Compi"</td>
		<td>3</td>
	</tr>
	<tr>
		<td>3</td>
		<td>"Alan"</td>
		<td>26-03-1991</td>
		<td>verdadero</td>
		<td>3</td>
		<td>"Mate"</td>
		<td>1</td>
	</tr>
	<tr>
		<td>2</td>
		<td>"Natthalie"</td>
		<td>7-09-1993</td>
		<td>falso</td>
		<td>1</td>
		<td>"Compi"</td>
		<td>2</td>
	</tr>
	<tr>
		<td>2</td>
		<td>"Natthalie"</td>
		<td>7-09-1993</td>
		<td>falso</td>
		<td>2</td>
		<td>"Compi"</td>
		<td>3</td>
	</tr>
	<tr>
		<td>2</td>
		<td>"Natthalie"</td>
		<td>7-09-1993</td>
		<td>falso</td>
		<td>3</td>
		<td>"Mate"</td>
		<td>1</td>
	</tr>
</table>