﻿{% load staticfiles %}

{#{% extends 'templates/base/base.html' %}#}
<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Inicio</title>
	<link rel="stylesheet" href="{% static 'Inicio/static/css/bootstrap.css' %}"/>
	<link rel="stylesheet" href="{% static 'Inicio/static/css/bootstrap.min.css' %}"/>
</head>
<body>
	<h1>Login</h1>
	
	<div class="container-fluid" >
				  
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
	    <form class="navbar-form navbar-left" role="search">
		    <div class="form-group">
		        <input type="text" class="form-control" placeholder="Usuario">
                <p></p>
		        <input type="password" class="form-control" placeholder="Clave">
		    </div>
		    
	    </form>					
	    </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
	    <form class="navbar-form navbar-left" role="search">
		    <div class="form-group">
		        <a href="#" class="btn btn-success">Entrar</a>
		        <a href="#" class="btn btn-danger">Cancelar</a>
		    </div>
		    
	    </form>					
	    </div>
            
	</div>                	
</body>
</html>